.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.pagination button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--background);
    color: var(--foreground);
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: var(--foreground);
    color: var(--background);
}

.pagination span {
    font-size: 1rem;
    color: var(--foreground);
}

/* Nouveaux styles spécifiques pour les projets */
.projectContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 20px;
}

.projectCard {
    flex: 0 0 200px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    box-shadow: 1px 5px 15px var(--background);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.projectCard:hover {
    flex: 0 0 400px;
    box-shadow: 1px 3px 15px var(--foreground);
    transform: translateY(-30px);
}

@media (max-width: 1000px) {
    .projectContainer {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        align-items: center;
    }

    .projectCard {
        width: 100%;
        height: 220px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .projectCard:hover {
        transform: translateY(-15px);
    }
}