/* Footer.module.css */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

/* Mode sombre */
.dark {
    background-color: #131120;
    color: #202187;
}

/* Mode clair */
.light {
    background-color: #EDD0D2;
    color: #A67FAB;
}

/* Style du bouton */
.toggleButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #000000;
}

.img {
    display: block;
}