/* Thème clair par défaut */
:root {
  --background: #131120;
  --foreground: #202187;
  --cbackground: rgba(40, 40, 66, 0.4);
}

/* Thème sombre */
[data-theme="light"] {
  --background: #EDD0D2;
  --foreground: #A67FAB;
  --cbackground: rgba(241, 234, 228, 0.4);
}

/* Importation de la police Alpha */
@font-face {
  font-family: 'Alpha';
  src: url('../assets/fonts/AlphaLyrae-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Configuration de base */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* Centre horizontalement */
  align-items: center;
  /* Centre verticalement */
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Alpha', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles universels */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: crosshair;
  /* border: 1px solid red; */
}

/* Lien avec héritage de couleur */
a {
  color: inherit;
  text-decoration: none;
}