.hero {
    text-align: left;
    padding: 20px;
    position: relative;
}

.menuWrapper {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
}

.menuTrigger {
    font-size: 18px;
    font-weight: bold;
    color: var(--foreground);
    background-color: var(--background);
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    /* Position sous le texte "Menu" */
    left: 50%;
    transform: translateX(-50%);
    background: var(--background);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform-origin: top center;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    width: 150px;
}

.menuWrapper:hover .dropdownMenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(10px);
}

.dropdownMenu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.dropdownMenu li {
    text-align: center;
    padding: 10px;
}

.dropdownMenu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--foreground);
    display: block;
    transition: color 0.2s ease, transform 0.2s ease;
}

.dropdownMenu li a:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .menuWrapper {
        display: flex;
        justify-content: center;
        /* Centre le menu */
        margin-left: 0;
        /* Supprime la marge gauche */
    }

    .dropdownMenu {
        left: 50%;
        /* Centre horizontalement */
        transform: translateX(-50%);
    }

    .h1 {
        font-size: 25px;
        text-align: center;
    }
}